.mantine-RichTextEditor-toolbar{
  --rte-sticky-offset: 0px  !important;
  margin-left: 5px;
}

.ProseMirror{
  /*text-indent: 2em;*/
}
/* В вашем глобальном CSS */
@media (max-width: 48em) {
  .ProseMirror {
    padding: 10px !important;
    padding-top: 10px !important;
  }
  .mantine-RichTextEditor-toolbar{
    --rte-sticky-offset: 0px  !important;
    margin-left: 5px;
  }

}


/* editor.override.css */
.highlighted-repeat {
  background-color: #ffeb3b;
  cursor: pointer;
  transition: background 0.3s;
}

.highlighted-repeat.active {
  background-color: #ff9800;
  box-shadow: 0 0 0 2px #ff5722;
}

.punctuation-error {
  position: relative;
  cursor: help;
}

.punctuation-error:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  background: #fff3bf;
  padding: 4px 8px;
  border: 1px solid #ffd43b;
  border-radius: 3px;
  white-space: nowrap;
  margin-left: 20px;
  z-index: 1000;
}


.highlighted-cliche {
  background-color: rgba(255, 235, 59, 0.3);
  border-bottom: 2px dashed #ffc107;
}

.highlighted-cliche.active {
  background-color: #ff9800;
  box-shadow: 0 0 0 2px #ff5722;
}

/* Focus mode paragraph styling */

.focus-mode-paragraphs{
  border: none;
  max-width: 800px;
  margin: 1rem auto;
}

.focus-mode-paragraphs .ProseMirror p {
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
}

.focus-mode-paragraphs .ProseMirror p[data-is-active-paragraph="true"] {
  opacity: 1;
}
