.container {
  position: relative;
  padding: 16px;
  background-color: var(--mantine-color-body);
  border-radius: var(--mantine-radius-md);
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.titleInput {
  flex: 1;
}

.tabs {

}

.tabList {
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

.tab {
  padding: 12px 20px;
  font-weight: 500;
  transition: all 0.2s ease;

  &[data-active] {
    color: var(--mantine-primary-color-filled);
    border-bottom: 2px solid var(--mantine-primary-color-filled);
  }
}

.panelContent {
  padding: 12px 0;
}

.addButton {
  @mixin hover {
    background-color: var(--mantine-color-blue-1);
  }
}


.overlay {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  border-radius: var(--mantine-radius-md);
}

.parametersStack {
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-body);
}

.parameterItem {
  background-color: white;
  border: 1px solid var(--mantine-color-gray-2);
  transition: background-color 0.2s ease;
}

/* BlockInstanceEditor.module.css */
.contentWrapper {
  width: 100%;
  overflow: hidden;
}

.htmlContent {
  max-width: 80%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

/* Для мобильной адаптации контейнера */
@media (max-width: 768px) {
  .container {
    padding: 0px 0px;
  }


  .parameterItem {
    padding: 0px !important;
    border: none;
  }
}

/* Для RichEditor добавим базовые стили */
.ql-container {
  max-width: 100% !important;
}


