.container {
  position: relative;
  padding: 16px;
  background-color: var(--mantine-color-body);
  border-radius: var(--mantine-radius-md);
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.titleInput {
  flex: 1;
}

.tabList {
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

.tab {
  padding: 12px 20px;
  font-weight: 500;
  transition: all 0.2s ease;

  &[data-active] {
    color: var(--mantine-primary-color-filled);
    border-bottom: 2px solid var(--mantine-primary-color-filled);
  }
}

.panelContent {
  padding: 6px 0;
}

.addButton {
  @mixin hover {
    background-color: var(--mantine-color-blue-1);
  }
}

.overlay {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  border-radius: var(--mantine-radius-md);
}

/* Параметры */
.parametersStack {
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-body);
}

.parameterItem {
  background-color: white;
  transition: background-color 0.2s ease;
}

.paramHeader {
  position: sticky;
  top: 0;
  background: #f3f3f3;
  z-index: 10001;
  padding-left: 10px;
  padding-top: 5px;
  border-bottom: 1px solid var(--mantine-color-gray-3);
}


/* Контент */
.contentWrapper {
  width: 100%;
  padding: 0px 8px;
  overflow: hidden;
}

.textContent {
  width: 100%;
  margin-top: 0px;
}

.htmlContent {
  width: 100%;
  padding: 2px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

/* Rich Text Editor */
.ql-container {
  max-width: 100% !important;
  border: none !important;
  font-family: inherit !important;
}

.ql-editor {
  max-width: 100% !important;
  padding: 0 !important;
}

/* Мобильная адаптация */
@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .parameterItem {
    padding: 0 !important;
    border: none;
  }

  .paramHeader {
    top: 50px;
    padding: 0px 0;
  }

  .textContent {
    margin-top: 0px;
  }

  .htmlContent {
    max-width: 100%;
  }
}

.clampedContent {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

/* Добавляем градиент для визуального обозначения обрезки */
.clampedContent::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2em;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      var(--mantine-color-body) 100%
  );
}

/* Стиль кнопки */
.toggleButton {
  margin-top: 4px;
  color: var(--mantine-primary-color-filled);
  font-size: 0.75rem;
  padding: 2px 8px;
}

.toggleButton:hover {
  background-color: transparent;
  text-decoration: underline;
}

