.mantine-RichTextEditor-toolbar{
  --rte-sticky-offset: 0px  !important;
}
/* В вашем глобальном CSS */
@media (max-width: 48em) {
  .ProseMirror {
    padding: 10px !important;
    padding-top: 10px !important;
    user-select: text;
  }
  .mantine-RichTextEditor-toolbar{
    --rte-sticky-offset: 50px  !important;
  }

}


/* editor.override.css */
.highlighted-repeat {
  background-color: #ffeb3b;
  cursor: pointer;
  transition: background 0.3s;
}

.highlighted-repeat.active {
  background-color: #ff9800;
  box-shadow: 0 0 0 2px #ff5722;
}

.punctuation-error {
  position: relative;
  cursor: help;
}

.punctuation-error:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  background: #fff3bf;
  padding: 4px 8px;
  border: 1px solid #ffd43b;
  border-radius: 3px;
  white-space: nowrap;
  margin-left: 20px;
  z-index: 1000;
}
